<!DOCTYPE html>
<html>
  <head>
    <title><%=@title%></title>
    <%=csrf_meta_tag%>
    <link rel="stylesheet" href="/app/assets/stylesheets/tempcss/custom" type="text/css" />
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <section class="round">
        <%=yield%>
      </section>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
