<!DOCTYPE html>
<html>
  <head>
    <title><%=@title%></title>
    <%=csrf_meta_tag%>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
<<<<<<< HEAD
    <div class="container">
      <%= render 'layouts/header' %>
      <section class="round">
        <%=yield%>
      </section>
      <%= render 'layouts/footer' %>
    </div>
=======
    <%=yield%>
    <%=debug(params) if Rails.env.development? %>
>>>>>>> c9f0fe88dcc5f22a8b8c24a03e445dd4b3163f0d
  </body>
</html>
