<!DOCTYPE html>
<html>
  <head>
    <title><%=@title%></title>
    <%=csrf_meta_tag%>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag 'tempcss/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'tempcss/print',  :media => 'print' %>
    <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'tempcss/ie' %>
    <![endif]-->
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  </head>
  <body>
    <div class="container">
      <header>
        <%= image_tag("http://i.imgur.com/KLjLE.jpg", :alt => "Sample App", :class => "round") %>
        <nav class="round">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Sign in</a></li>
          </ul>
        </nav>
      </header>
      <section class="round">
        <%=yield%>
      </section>
    </div>
  </body>
</html>
